appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
cssselect==1.1.0
discord-py-slash-command==3.0.3
discord.py==1.7.3
fake-useragent==0.1.11
feedparser==6.0.8
idna==3.3
importlib-metadata==4.11.3
lxml==4.8.0
maidenhead==1.6.0
multidict==6.0.2
numpy==1.22.3
parse==1.19.0
pycountry==22.3.5
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
requests==2.27.1
requests-html==0.10.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.1
tqdm==4.64.0
typing-extensions==4.1.1
urllib3==1.26.9
w3lib==1.22.0
websockets==10.2
xmltodict==0.12.0
yarl==1.7.2
zipp==3.8.0
